/*
 Default: #007bff;
 */

 h2, a:focus {
	color: #007bff;
}
.button, .center-wrap button button {
border: 1px solid #007bff;
	background-color: #007bff;
}
.plan .button:hover {
border-color: #007bff;
}
.plan .button a, .glyph i {
color: #007bff;
}

.plan.featured .button {
background-color: #007bff;
}
.social-icons ul li a:hover {
background-color: #007bff;
} 
.navbar-light .navbar-nav > .nav-item:hover,
.navbar-light .navbar-nav > .nav-item:active {
background-color: #007bff;
}

.owl-thumb-item i {
	color: #007bff;
}
.navbar-light .navbar-nav .nav-link.active{
background-color: #007bff !important;
}

.navbar-light.fixed-top, .search-modal, .home-video-area::before, .owl-thumb-item.active, .owl-thumb-item:hover {
	background-color: #007bff;
}
.navbar-light.fixed-top {
	background-color: #222222 !important;
}
.filter-menu button.programs-filter-btn-active, .filter-menu button:hover {
background-color: #007bff;
}
.work-details .icon li span, .team-box .title, .team-box .icon li a, .team-slides .owl-nav div {
color: #007bff !important;
}
.team-box .icon li a:hover {
background: #007bff;
}
.date-box {
background-color: #007bff;
}
.blog-item:hover .title-meta h2 a {
	color: #007bff;
}
.post-meta ul li a:hover {
color: #007bff;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
background-color: #007bff;
border-color: #007bff;
}
.side-widget h3::before { 
background: #007bff;
}
.search-form .btn-default {
border-color: #007bff;
background: #007bff;
}
.side-widget .list-group li a:hover {
color: #007bff;
}
.single-post h4 a:hover {
color: #007bff;
}
.list-tags li a:hover {
	background-color: #007bff;
}
.sharing-link ul li i:hover {
	background-color: #007bff;
}
.content-box:hover .box-icon-effect-1a .box-icon i {
	color: #007bff;
}
.work-details .box-content{
background: #007bff;
}
.comments-title::before {
background: #007bff;
}
.single-comment .reply:hover {
background-color: #007bff;
}
.video-area:before {
background: #007bff;
}
.plus, .post-meta ul li .fa {
color: #007bff;
} 
.plus:hover {
color: #007bff;
}
.tab-menu ul li.active a {
background-color: #007bff;
}
.plan.featured .listing-badges .featured {
color: #007bff;
}
.plan.featured .plan-price, .content-box.color-effect-1, .footer  {
background-color: #007bff;
}
.single-testimonial-item i, .partners-slides .owl-nav div {
	color: #007bff !important;
}
.client-info h3, .testimonial-slides .owl-nav div {
color: #007bff !important;
}
.panel-title a:before, .panel-title a.collapsed:before {
color: #007bff;
border: 1px solid #007bff;
}
.social-icons.bottom ul li a {
background-color: #145faf;
}
.social-icons.bottom ul li a:hover {
	color: #145faf;
}
.about-info i {
	color:#007bff;
}
.about-info:hover {
	background-color: #007bff;
}
.plan .btn-a {
	color: #007bff;
}
